<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>

  <header>
      <nav>
          <% if (user) { %>
            <% if(user.userType == "admin"){ %>
                <h3>This is an admin</h3>
            <% }else if(user.userType == "user"){ %>
                <h3>This is a normal user</h3>
            <% } %>
            <a href="/logout">LOG OUT</a>
          <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
      </nav>
  </header>  
    
