#map {
    height: 400px;
    width: 400px;
  }

  #map::before, #map::after {
    background-color: transparent;
  }

  .ratingsBtn:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }

  .ratingsBtn:active {
    background-color: gray;
  }

  .iRatings:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }

  .iRatingsBtn:active {
    background-color: gray;
  }

  .overflowScroll {
    max-height: 100px;
    overflow-y: scroll;
  }
