#map {
    height: 400px;
    width: 400px;
  }

  #map::before, #map::after {
    background-color: transparent;
  }

  .ratingsBtn:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }

  .ratingsBtn:active {
    background-color: gray;
  }

  .iRatings:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }

  .iRatingsBtn:active {
    background-color: gray;
  }

  .overflowScroll {
    max-height: 100px;
    overflow-y: scroll;
  }

  .avatar {
    border-radius: 50%;
  }

  .navAvatar {
    height: 50px;
  }

  .backGroundNone {
    background-color: transparent;
  }

  .BurgerNavBar {
    display: none;
  }

  .navIcon {
    height: 50px;
  }

  .burgerDropMenu {
    /* position: absolute !important; */
    /* width: fit-content; */
    left: calc(-200px) !important;
    /* float: right !important; */
    /* display: flex; */
    flex-direction: column;
  }

  .burgerDropMenu>li{
    float: right;
  }

  .burgerCuisine {
    /* position: absolute !important; */
    width: fit-content;
    left: calc(-30px) !important;
  }

  .burgerCuisine>li{
    float: right;
  }

  #logo2 {
    vertical-align: middle;
    height: 30px;
    width: 30px;
  }

  @media (max-width:1100px){
    .BurgerNavBar {
      display: inline;
    }
    .mainNavBar {
      display: none;
    }
    
  }